<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

    <br>Welcome <%=@user.username%><br>
    <br><%=@user.balance%><br>
    <br><a href="/logout">Log Out</a><br>
  </body>
</html>
